*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 15px !important;
}
.container1 {
    width: 100%;
    background-color: #8a1619;
}
.container1-row {
    display: flex;
    justify-content: space-around;
}
.container1-col1 {
    display: flex;
}
.container1-col2 {
    display: flex;
    justify-content: flex-end;
    color: #f3ecec;
    font-size: 12px;
    font-weight: 500;
}
.container1 .container1-col2 p {
    margin-bottom: 0;
}
.tradecounter {
    background-color: #660000;
}
.downloadbrochure {
    margin-right: 10px;
}
.p1 {
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 10px;
    color: #be9292;
}
.p2 {
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    color: #f3ecec;
}
.png1 {
    padding-bottom: 2px;
    padding-right: 10px;
}
.homeicon {
    background-color: #660000;
    color: #eb8723;
}
.container2 {
    margin-bottom: 15px;
}
.container2-row {
    padding-top: 15px;
}
.search {
    /* border: 1px solid black; */
    background-color: #f5f5f5;
    margin: 10px;
    padding: 8px;
    margin-right: 0px;
}
.search-text {
    border: 0;
    background: transparent;
}
.search-icon {
    float: right;
    padding-top: 4px;
    padding-right: 5px;
    color: #6a6a6a;
}
.search-col {
    padding-left: 25px !important;
    padding-right: 0px !important;
}
.rhcolor {
    width: 72%;
}
.appointment-contact {
    color: #9f4749;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 10px;
}
.contact-no {
    color: #747474;
    font-size: 28px;
    word-spacing: -10.1px;
    margin-top: 4px;
}
.contact-part {
    line-height: 1.17;
    text-align: right;
}
.container3 {
    position: relative;
}
.container3 .nav-ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    /* justify-content: space-evenly;
    align-items: flex-end; */
    padding-left: 0px !important;
    margin-bottom: 0px !important;
    margin-top: 0% !important;
}
.container3 .nav-ul li {
    padding: 10px;
    padding-left: 20px;
}
.container3 .nav-ul a {
    color: #f1efef;

}
.left-nav {
    background-color: #8a1619;
}
.middle-nav {
    background-color: #8a1619;
}
.contactus{
    width: 150px;
    height: 42.4px;
    background-color: #eb8723;
    position:relative ;
}

.contactus::after{
    content: '';
    position: absolute;
    /* width: 150px;
    height: 42.4px; */
    right: -57px;
    top: -1px;
    border-top: 43px solid transparent;
	border-left: 43px solid #eb8723;
	border-bottom: 0px solid transparent;
}
/* .insidecarousel {
    display: flex;
} */

.desc {
    width: 10%;
    background-color: indianred;
}

.container4 {
    position: relative;
    z-index:1;
}

.insidecarousel  img{
    width: 100%;
}

.did{
    display: flex;
}

.pics {
    background-color: gray;
    margin: 12px;
}
.desc {
    background-color: indianred;
    margin: 12px;
}

.sm{
    width: 100%;
}

.row-a{
    display: flex;
    align-items: flex-end;
}

#red{
    width: 30% !important;
    background: #401c1be7;
    margin-right: 2%;
}

#blk{
    width: 68%;
    background: rgba(0, 0, 0, 0.637);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#blk img{
    width: 22%;

}
.right {
    padding: 15px
}
.left {
    padding: 15px;
    line-height: 1;
    color: white;
}
.view-more {
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 12px;
    color: #eb8723;
}
.sm {
    position: absolute;
    top: 57.2%;
    z-index: 10;
}
.sm-detail {
    font-weight: 400;
    font-size: 25px;
}
.sm-desc {

}
.owl-dots {
    display: none;
}

.exp-heading {
    text-align: center;
    font-size: 35px;
    font-weight: 300;
}
.exp-btn-sec1 {
    text-align: right;
}
.exp-btn1 {
    padding: 10px;
    width: 32%;
    font-weight: 500;
    border-radius: 5px;
    border: 0;
    color: white;
    background: #666666;
}
.exp-btn1:hover {
    background: #999999;
}
.exp-btn2 {
    padding: 10px;
    width: 32%;
    font-weight: 500;
    border-radius: 5px;
    border: 0;
    color: white;
    background: #999999;
}
.exp-btn2:hover {
    background: #666666;
}
.byexpertsectionheading {
    margin-top: 50px !important;
    margin-bottom: 5px;
}
.byexpertsectionbutton {
    margin-bottom: 50px !important;
}

.one-img{
    margin-bottom: 55px;
}

.one{
    position: relative;
}

.one-box{
    padding: 5px 25px;
    position: absolute;
    top: 9%;
    right: -10.5%;
    background: #eee;
}
.one-box p{
    padding: 0;
    margin: 0;
}
.one-box h3{
    font-size: 22px;
    margin: 0;
    padding: 0;
}
.para1 {
    margin-top: 185px;
}
.two{
    margin-top: 160px !important;
}
.two-box {
    padding: 5px 25px;
    background: #eee;
    position: absolute;
    top: 69%;
    left: -17%;
}
.two-box p{
    padding: 0;
    margin: 0;
}
.two-box h3{
    font-size: 22px;
    margin: 0;
    padding: 0;
}
.para2img {
    margin-top: 20px;
}
.three{
    margin-top: 60px !important;
    position: relative;
}
.three-box {
    padding: 5px 25px;
    background: #eee;
    position: absolute;
    top: 62%;
    left: 6%;
}
.three-box p{
    padding: 0;
    margin: 0;
}
.three-box h3{
    font-size: 22px;
    margin: 0;
    padding: 0;
}
.para3 {
    margin-top: 75px;
}
.f-left {
    float: left;
}
.learnmore {
    color: #eb8723;
    font-size: 14px;
    font-weight: 500;
}
.container5 {
    position: relative;
    margin-top: 40px;
}
.cont5left {
    padding: 0 !important;
}
.cont5right {
    padding: 0 !important;
}
.innerleft5 {
    width: 50% !important;
    padding: 20px !important;
    background-color: rgba(0, 0, 0, 0.637);
    opacity: 0.9;
    margin-right: 15px;
    position: relative;
}
.innerleft5::after {
    content: "";
    z-index: 5;
    opacity: 0.9;
    position: absolute;
    right: -7.9%;
    top: 0%;
    border-top: 43px solid transparent;
    border-left: 25px solid rgba(0, 0, 0, 0.637);
    border-bottom: 43px solid transparent;
}
.logobnw {
    width: 96% !important;
}
.innerright5 {
    width: 27% !important ;
    background-color: #eb8723;
    color: white;
    text-align: center;
    padding: 29px;
    position: relative;
    margin-left: 16px;
    line-height: 0.6;
    opacity: 0.8;
}
.row1:hover .innerright5{
    transition: 1s;
    transform: scale(1.05)
}
.innerright5 p{
    padding: 0;
    margin: 0;
}
.innerright5 h5{
    padding: 0;
    margin: 0;
}
.innerright5::before {
    content: "";
    z-index: 0;
    position: absolute;
    left: -14%;
    top: 0%;
    border-right: 25px solid #eb8723;
    opacity: 1;
	border-bottom: 76px solid transparent;
}
.innerright5::after {
    content: "";
    z-index: 0;
    opacity: 0.9;
    position: absolute;
    left: -14%;
    top: 11.8%;
    border-right: 25px solid #eb8723;
	border-top: 76px solid transparent;
}
.middlealign {
    position: absolute;
    top: 34.5%;
    left: 31.8%;
}
.visitour {
    font-size: 11px;
}

.container6 {
    background-color: #f5f5f5;
    padding-top: 40px;
    padding-bottom: 10px;
}
.owl-carousel1 .owl-dots{
    display: block;
}

.owl-carousel1 .owl-dots .owl-dot span {
    width: 270px !important;
    height: 6px !important;
    margin: 10px 0px !important;
    border-radius: 0 !important;
}

.owlcont6 {
    text-align: center;
}
.paracont6 {
    font-size: 12px;
}
.owl-row {
    margin: 20px 0;
}
.container7 {
    position: relative;
    overflow-x: hidden;
    margin: 50px 0;
}
.text-part {
    padding: 10% 0% 10% 8%;
    animation: text123 4s 1s infinite alternate-reverse ;
}

@keyframes text123{
    0%{
        transform: translateX(-500px);
    }
    10%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(0px);
    }
    90%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-500px);
    }
}

.image-part {
    padding: 10% 0% 10% 8%;
    animation: text12345 4s 1s infinite alternate-reverse ;
}

@keyframes text12345{
    0%{
        transform: translateX(1000px);
    }
    10%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(0px);
    }
    90%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(1000px);
    }
}

.text-part1 {
    background-color: #222222;
    width: 65% !important;
}
.text-part p {
    margin: 0;
    font-size: 13px;
    color: white;
}
.text-part h4 {
    color: white;
}
.smaller {
    height: 1.6px;
    width: 1.6%;
    border-radius: 1px;
    display: block;
    background: #eb8723;
}
.larger {
    height: 1.6px;
    width: 22%;
    margin-left: 5px;
    border-radius: 1px;
    display: block;
    background: #464646;
}
.spantag {
    display: flex;
    margin: 10px 0 !important;
}
.p-pad1 {
    margin: 10px 0 !important;
    padding-top: 10px  !important;
}
.discovermore {
    margin-top: 30px;
    padding: 10px 50px;
    background-color: #eb8723;
    border: 0;
    outline: none;
    border-radius: 4px;
    color: white;
    font-weight: 500;
}
.image-part {
    margin: 0 !important;
    padding: 0 !important;
    width: 60% !important;
}
.row7 {
    display: flex;
}
.image-part img {
    width: 122%;
    position: absolute;
    top: 9%;
    left: -20%;
    height: auto;
}
.container8 {

    border-bottom: 5px solid cadetblue;
}
.text-8 {
    text-align: center;
}
.ques-head {
    font-size: 40px;
    font-weight: 300;
}
.ans-head {
    font-weight: 600;
    color: #7e7e7e;
}
.no {
    color: #eb8723;
}
.container9 {
    margin: 60px 0;
}
.container9 h3 {
    font-weight: 600;
}
.row2-9 {
    margin: 20px 0 !important;
}
.col1-9, .col2-9 {
    background-color: #f5f5f5;
    display: flex;
    width: 48.2% !important;
    padding: 0 !important;
}
.col1-9 {
    margin-right: 25px;
}
.innercol1 p, .innercol2 p{
    margin: 0 !important;
    padding: 0 !important;
}
.col1-13 {
    font-size: 40px;
    font-weight: 600;
}
.innercol1 {
    height: 90px;
    background-color: #f47629;
    color: white;
    text-align: center;
    line-height: 1.2;
}
.innercol2 {
    height: 90px;
    background-color: #3a3a3f;
    color: white;
    text-align: center;
    line-height: 1.2;
}
.whybuy-9 {
 margin-top: 20px;
 color: #333333;
}
.answhy-9 {
    margin-bottom: 20px;
    color: #7f7f7f;
}
.container10 {
    background-color: #424242;
    padding: 60px 0;
}
.container10 img {
    width: 100%;
}
.container11 {
    background-color: #222222;
    color: #707070;
    padding: 50px 0 30px 0;
}
.row11 {
    display: flex;
    padding: 10px;
}
.row11 p {
    font-size: 13px;
}
.col1-11 {
    width: 23%;
    margin-right: 5px;
}
.col1-11 img {
    width: 100%;
}
.belowimg {
    padding-top: 20px;
    text-align: justify;
}
.col2-11 {
 width: 15%;
 margin-left: 20px;
}
.col2-11 ul {
    padding-left: 0 !important;
    padding-top: 26px;
}
.col2-11 ul li{
    list-style: none;
}
.col2-11 li:hover {
    color: #e7e7e7;
}
.quick-link, .contact-us, .newsletter, .connect{
    font-size: 16px !important;
    font-weight: 500;
    margin-bottom: 0;
}
.smaller-2 {
    height: 1.6px;
    width: 7%;
    border-radius: 1px;
    display: block;
    background: #eb8723;
}
.larger-2 {
    height: 1.6px;
    width: 80%;
    margin-left: 3px;
    border-radius: 1px;
    display: block;
    background: #666666;
}
.spantag-2 {
    display: flex;
    margin-bottom: 10px !important;
}
.col3-11 {
    width: 27%;
    margin-left: 20px;
}
.col3-11 a {
    color: #707070;
}
.col3-11 span:hover {
    color: #eb8723;
}
.col3-11 a:hover {
    color: #eb8723;
}
.col3-11 p {
    font-size: 18px;
}
.contact-detail-11 {
    padding-top: 25px;
}
.smaller-3 {
    height: 1.6px;
    width: 4%;
    border-radius: 1px;
    display: block;
    background: #eb8723;
}
.larger-3 {
    height: 1.6px;
    width: 80%;
    margin-left: 3px;
    border-radius: 1px;
    display: block;
    background: #666666;
}
.spantag-3 {
    display: flex;
    margin-bottom: 10px !important;
}
.icon-11 {
    padding-right: 10px;
    font-size: 20px !important;
}
.email-11 {
    color: #eb8723;
}
.col4-11 {
    width: 31%;
}
.smaller-4 {
    height: 1.6px;
    width: 4%;
    border-radius: 1px;
    display: block;
    background: #eb8723;
}
.larger-4 {
    height: 1.6px;
    width: 95%;
    margin-left: 3px;
    border-radius: 1px;
    display: block;
    background: #666666;
}
.spantag-4 {
    display: flex;
    margin-bottom: 10px !important;
}
.mail {
    margin-top: 34px;
    width: 100%;
    border: 1px solid #5c5c5c;
    padding: 5px;
}
.mail:focus-within {
    border: 1px solid #eb8723;
}
.email-in {
    border: 0;
    outline: 0;
    width: 90%;
    color: #eb8723;
    background: transparent;
}
.connect {
    padding: 12px 0;
}
.socialicon span {
    border: 1px solid #5c5c5c;
    width: 30px;
    text-align: center;
    padding: 4px 0;
    margin: 0 4px;
}
.socialicon span:hover {
    color: #eb8723;
}
.container12 {
    background: #8a1619;
    color: white;
    font-size: 13px;
}
.container12 .container-fluid {
    padding: 0;

}
.row-12 p {
    margin: 0;
}
.row-12 {
    display: flex;

}
.col1-12 {
    width: 78%;
    padding: 14px 0;

}
.col2-12 {
    width: 25%;
    padding: 14px 0;
    text-align: center;
    background-color: #660000;
    position: absolute;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 15% 100%);
    right: 0px;

}
/* .col2-12::after {
    content: "";
    width: 80px;
    height: 29.33px;
    position: absolute;
    right: -31%;
    top: 0;
    background-color: red;
} */


.btnbook {
    background-color: #eb8723 !important;
    border: 0 !important;
}
.btnbook:hover {
    background-color: #f47629 !important;
}
#name,
#email,
#phone  {
    width: 100% ;
    margin-bottom: 10px;
    border: 0;
    padding-left: 10px;
    border-bottom:1px solid #000 !important;
    background-color: transparent;
    outline: none;
    border-radius: 0;
    font-size: 15px;
    font-weight: 500;
}

#name:focus,
#email:focus,
#phone:focus{
    box-shadow: 0px 0px 4px #f47629;
    outline: none;
    border: 0 !important;
    background-color: transparent;
}
.one {
    position: relative;
}
.one-img {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 2.1%;
    left: 5.7%;
    /* transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */
    text-align: center;
  }
  .one:hover .one-img {
    opacity: 0.5;
  }

  .one:hover .middle {
    opacity: 1;
  }


  @media (max-width:1025px) {
      .two-box {
          top: 56%;
      }
      .three-box {
          top: 52%;
      }
      .owl-carousel1 .owl-dots .owl-dot span {
        width: 220px !important;
      }
  }

  @media (min-width: 320px) and (max-width: 480px) {
    .container1-col1 {
        justify-content: center;
    }
    .container1-col2 {
        justify-content: space-between;
        padding: 0 !important;
    }
    .col-lg-5.col-xs-12 {
        width: 100%;
        text-align: center;
    }
    .col-lg-4.col-xs-6.search-col {
        padding: 0 !important;
        width: 50%;
    }
    span.fa.fa-search.search-icon {
        display: none;
    }
    .col-lg-3.col-xs-6.contact-part {
        width: 50%;
    }
    .appointment-contact {
        font-size: 10px;
    }
    .contact-no {
        font-size: 15px;
        word-spacing: 0;
    }
    .container3 .nav-ul {
        display: none;
        width: 85%;
        height: 75vh;
        background-color: #8a1619;
        position: absolute;
        top: 0;
        left: 8%;
    }
    .container3 {
        width: 100%;
    }
    #red {
        width: 75% !important;
    }
    #blk {
        width: 23% !important;
        display: block;
    }
    #blk img {
        width: 100%;
    }
    .sm-detail {
        font-size: 20px;
    }
    .sm-desc {
        font-size: 12px;
    }
    .right {
        padding: 0px !important;
    }
    .container4 .owl-carousel .owl-item img {
        height: 229px;
    }
    .row-a {
        margin-top: 25px;
    }
    .byexpertsectionheading {
        margin-top: 140px !important;
    }
    .exp-heading {
        font-size: 23px;
    }
    .exp-btn1, .exp-btn2 {
        width: 100%;
    }
    .exp-btn-sec1, .exp-btn-sec2 {
        width: 50% !important;
    }
    .byexpertsection img {
        width: 50% !important;
    }
    .middle {
        display: none;
    }
    .one {
        display: flex;
    }
    .one-box {
        top: 14%;
        right: 23.5%;
    }
    .para1 {
        margin-top: 135px;
        margin-left: 10px;
    }
    .para1 p, .para2 p, .para3 p {
        margin-bottom: 4px !important;
        font-size: 12px;
    }
    .two {
        margin-top: 20px !important;
        display: flex;
    }
    .two-box {
        top: 71%;
        left: 34%;
    }
    .three {
        margin-top: 20px !important;
        display: flex;
    }
    .para3 {
        margin-top: 10px;
    }
    .three-box {
        top: 87%;
        left: 6%;
    }
    .learnmore {
        font-size: 12px;
    }
    .row.row1 {
        display: block;
        text-align: -webkit-center;
    }
    .innerleft5 {
        width: 100% !important;
    }
    .innerright5 {
        width: 60% !important;
        padding-bottom: 10px;
    }
    .middlealign {
        width: 50%;
        position: absolute;
        top: 30%;
        left: 23%;
    }
    .innerleft5::after {
        right: 27.1%;
        top: 99%;
        border-left: 45px solid transparent;
        border-right: 45px solid transparent;
        border-top: 20px solid rgba(0, 0, 0, 1);
    }
    .innerright5::before {
        display: none;
    }
    .innerright5::after {
        display: none;
    }
    .owl-carousel1 .owl-dots .owl-dot span {
        width: 23px !important;
    }
    .container7 {
        height: 700px;
    }
    .row7 {
        display: block;
    }
    .text-part1 {
        font-size: 10px;
        width: 100% !important;
    }
    .text-part p {
        font-size: 10px;
    }
    .image-part {
        width: 100% !important;
    }
    .ques-head {
        font-size: 23px;
    }
    .ans-head {
        font-size: 12px;
    }
    .container9 {
        margin: 50px 0;
    }
    .row2-9 {
        display: block;
    }
    .col1-9, .col2-9 {
        margin-right: 0px;
        width: 100% !important;
    }
    .innercol1, .innercol2 {
        width: 25% !important;
    }
    p.answhy-9 {
        font-size: 12px;
    }
    .container10 {
        padding: 30px 0;
    }
    .container10 .col-lg-2 {
        width: 50%;
        margin: 2px 0;
    }
    .container11 {
        padding-top: 20px;
    }
    .row11 {
        display: block;
        text-align: center;
    }
    .col1-11, .col2-11, .col3-11, .col4-11 {
        width: 100%;
    }
    .smaller-3, .smaller-4 {
        height: 1.6px;
        width: 7%;
        border-radius: 1px;
        display: block;
        background: #eb8723;
    }
    .larger-3, .larger-4 {
        height: 1.6px;
        width: 80%;
        margin-left: 3px;
        border-radius: 1px;
        display: block;
        background: #666666;
    }
    .larger-4 {
        width: 100%;
    }
    #nevi {
        width: 12%;
        display: block;
        margin-top: 3px;
    }
    .line {
        display: block;
        margin: 6px auto;
        height: 4px;
        width: 35px;
        background-color: white;
    }
}
